#search-component
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-component input {
    border: 1px solid #eeeeee;
    min-height: 35px;
    padding: 0 5px;
}

#search-component button{
    background: #4285F4;
    border: none;
    color: #FFFFFF;
    min-height: 35px;
}